<section class = "container-flex bg-dark" id="bodyBack">
  <div class = "navbar" id="top">
    <div class = "container">
      <h1 class= "h1 navbar-text text-warning">
        Scrape It Up
      </h1>
      <h2 class = "h2 navbar-text text-warning">
        Easy Local News
      </h2>
      <button class="btn btn-lg btn-warning navbar-item" id="scraper">
        Scrape New Articles
      </button>
    </div>
    </div>
      <div class = "container">
        <div id="articles">
            
        </div>
        <div id="comment">
          
        </div>
        {{!-- {{{article/articles}}}
        {{{comment/comments}}} --}}
      </div>
      {{!-- <div class="container">
        <div id="comment">
          
        </div>
      </div> --}}
    </div>
</section>